@font-face{font-family:iconfont;src:url(/Episode/font/iconfont-56dd286b.woff) format("woff"),url(/Episode/font/iconfont-86217a0b.ttf) format("truetype")}
.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-weibo:before{content:"\E655"}
.icon-bofang:before{content:"\E63D"}
.icon-shouye:before{content:"\E604"}
.icon-ditu:before{content:"\E617"}
.icon-jiaruwomen:before{content:"\E665"}
.icon-n:before{content:"\E75A"}
.icon-2:before{content:"\E61C"}
.icon-1:before{content:"\E61D"}
.icon-3:before{content:"\E61E"}
.icon-7:before{content:"\E61F"}
.icon-4:before{content:"\E620"}
.icon-5:before{content:"\E621"}
.icon-6:before{content:"\E622"}
.icon-close:before{content:"\E623"}
.icon-8:before{content:"\E624"}
.icon-refresh:before{content:"\E62F"}
.icon-search:before{content:"\E630"}
.icon-arrow-down:before{content:"\E631"}
.icon-back-up:before{content:"\E632"}
.icon-qrcode:before{content:"\E635"}
.icon-down:before{content:"\E637"}
.icon-logo:before{content:"\E63A"}
.icon-weixin:before{content:"\E63B"}
.icon-qq:before{content:"\E63C"}
.icon-mi:before{content:"\E63E"}
.icon-qzone:before{content:"\E63F"}
.icon-arrow-up:before{content:"\E656"}
.icon-eye:before{content:"\E642"}
.icon-yidianhaoxiao:before{content:"\E648"}
.icon-up:before{content:"\E649"}
.icon-close-half:before{content:"\E657"}
.icon-qrcode-detail:before{content:"\E64A"}
.icon-delete:before{content:"\E64B"}
.icon-yidian:before{content:"\E64D"}
.icon-ydhao:before{content:"\E64E"}
.icon-add:before{content:"\E666"}
.icon-right:before{content:"\E667"}
.icon-down2:before{content:"\E75B"}
.icon-correct:before{content:"\E651"}
.icon-arrow-right:before{content:"\E75C"}
.icon-arrow-left:before{content:"\E75D"}
.icon-plus:before{content:"\E652"}
.advertisement{width:80%;height:453px;display:inline-block;border:1px solid #999;margin-top:100px;}
.advertisement p{font-size:24px;color:#129aee;margin-top:123px;}
.profile-wrapper{width:163px;display:inline-block;border:1px solid #129aee;}
.profile-wrapper img{width:80px;height:80px;border-radius:50%;border:1px solid #dadada;padding:5px;margin-bottom:15px}
.profile-wrapper p{margin:0;margin-bottom:3px;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.profile-wrapper p.bindtip{color:#999;font-size:12px;margin-top:8px}
.login-register-dialog{width:330px;background:#fff;position:fixed;left:50%;top:50%;margin-left:-217px;z-index:201;padding:0 52px;display:none}
.login-register-dialog .close,.register-ok-dialog .close{width:17px;height:17px;font-size:17px;line-height:17px;position:absolute;right:17px;top:16px;color:#e5e5e5;cursor:pointer}
.login-register-dialog .logo,.register-ok-dialog .logo{width:97px;height:23px;margin:0 auto;background-size:100%;font-size:97px;line-height:23px}
.login-register-dialog .input-box{position:relative}
.login-register-dialog input{font-size:14px;width:300px;height:43px;border:1px solid #eaeaea;padding:0px 14px;}
.login-register-dialog input:focus{border-color:#4bb0f7}
.login-register-dialog input:-webkit-input-placeholder{color:#999;font-size:14px}
.login-register-dialog input:-moz-placeholder,.login-register-dialog input::-moz-placeholder{color:#999;font-size:14px}
.login-register-dialog input:-ms-input-placeholder{color:#999;font-size:14px}
.error-msg{margin:0;color:#413b3a}
.error-msg-inner{display:none;margin-top:10px;padding:0 10px;line-height:38px;background-color:#fff5f5;border:1px solid #ff5a35;border-radius:3px}
.login-register-dialog button{width:330px;height:38px;background:#4bb0f7;color:#fff;border:none;font-size:16px}
.login-register-dialog .btn-has-border{width:328px;height:36px;background:none;color:#4bb0f7;border:1px solid #79c0f4}
.login-register-dialog .declare,.login-register-dialog .declare a{font-size:10px;line-height:10px;text-align:center;color:#999}
.login-register-dialog .declare a{color:#129aee}
.login-register-dialog .icon-delete{color:#ff5a35;padding-right:10px}
.login-register-dialog .input-image-verification-code{width:169px}
.login-register-dialog .input-phone-verification-code{width:181px;padding-right:133px}
.login-register-dialog .verification-code{cursor:pointer;overflow:hidden;position:absolute;right:0;top:0}
.login-register-dialog .verification-code img{width:121px;height:41px;border:1px solid #eaeaea;vertical-align:middle}
.login-register-dialog .verification-code .btn-get-verification-code{width:131px;height:41px;color:#4bb0f7;font-size:14px;background:transparent}
.login-register-dialog .verification-code .btn-get-verification-code.waiting{color:#999;border-color:transparent}
.login-register-dialog .input-phone-verification-code-box .verification-code:before{content:"";width:1px;height:19px;background:#eaeaea;position:absolute;left:0;top:11px}
.login-dialog,.login-mobile-dialog{min-height:230px;margin-top:-200px;padding-bottom:30px}
.login-dialog .input-username-box,.login-dialog .logo,.login-mobile-dialog .input-username-box,.login-mobile-dialog .logo{margin-top:30px}
.login-dialog .btn-login, .login-dialog .btn-register,.login-dialog .input-image-verification-code-box,.login-dialog .input-password-box,.login-dialog .input-phone-verification-code-box,.login-mobile-dialog .btn-register,.login-mobile-dialog .input-image-verification-code-box,.login-mobile-dialog .input-password-box,.login-mobile-dialog .input-phone-verification-code-box{margin-top:10px}
.login-dialog .link-wrapper,.login-mobile-dialog .link-wrapper{overflow:hidden}
.login-dialog .link-wrapper a,.login-mobile-dialog .link-wrapper a{font-size:14px;color:#999;line-height:12px;margin:15px 0}
.login-dialog .link-wrapper a:hover,.login-mobile-dialog .link-wrapper a:hover{color:#129aee}
.login-dialog .forget-psw,.login-mobile-dialog .forget-psw{float:right}
.login-dialog .to-login,.login-dialog .to-login-mobile,.login-mobile-dialog .to-login,.login-mobile-dialog .to-login-mobile{float:left}
.login-dialog hr,.login-mobile-dialog hr{border:none;border-top:1px solid #e6e6e6;margin-top:25px}
.login-dialog .third-party-title,.login-mobile-dialog .third-party-title{width:110px;font-size:14px;color:#999;line-height:12px;background:#fff;text-align:center;margin:-6px auto 0}
.login-dialog .third-party-box,.login-mobile-dialog .third-party-box{width:282px;height:40px;margin:20px auto 0}
.login-dialog .third-party-box .iconfont,.login-mobile-dialog .third-party-box .iconfont{width:33.3%;line-height:40px;font-size:27px;display:inline-block;float:left;text-align:center;color:#d3d3d3}
.login-dialog .third-party-box .iconfont:active,.login-mobile-dialog .third-party-box .iconfont:active{color:#66aff1}
.login-dialog .third-party-box .icon-weixin,.login-mobile-dialog .third-party-box .icon-weixin{display:none}
.login-dialog .third-party-box .icon-qq,.login-mobile-dialog .third-party-box .icon-qq{font-size:24px}
.login-dialog .third-party-box .icon-qq:hover,.login-mobile-dialog .third-party-box .icon-qq:hover{color:#66aff1}
.login-dialog .third-party-box .icon-weibo:hover,.login-mobile-dialog .third-party-box .icon-weibo:hover{color:#fb673b}
.login-dialog .third-party-box .icon-weixin:hover,.login-mobile-dialog .third-party-box .icon-weixin:hover{color:#7ad324}
.login-dialog .third-party-box .icon-mi:hover,.login-mobile-dialog .third-party-box .icon-mi:hover{color:#de6429}
.register-dialog{min-height:230px;margin-top:-174px;padding-bottom:25px}
.register-dialog .logo{margin-top:30px}
.register-dialog .input-email-box,.register-dialog .input-phone-box{margin-top:27px}
.register-dialog .input-password-box{margin-top:12px;margin-bottom:12px}
.register-dialog .declare{margin-top:12px}
.register-dialog .link-wrapper{margin-top:25px}
.register-dialog .link-wrapper .link{color:#999;font-size:14px;line-height:24px}
.register-dialog .link-wrapper .link:hover{color:#129aee}
.register-dialog .link-wrapper .to-email-register,.register-dialog .link-wrapper .to-phone-register{float:left}
.register-dialog .link-wrapper .to-login{float:right}
.register-dialog .input-verification-code{width:159px}
.register-dialog .btn-get-verification-code{width:131px}
.forget-password-dialog{min-height:240px;margin-top:-120px;padding-bottom:30px}
.forget-password-dialog .logo{margin-top:30px}
.forget-password-dialog .input-username-box{margin-top:45px}
.forget-password-dialog .to-login{display:block;margin-top:25px;text-align:center;color:#999;font-size:14px;line-height:24px}
.forget-password-dialog .to-login:hover{color:#129aee}
.email-verify-dialog{min-height:312px;margin-top:-156px;padding-bottom:35px}
.email-verify-dialog .email-verify-image{width:102px;height:108px;margin:0 auto;margin-top:54px;}
.email-verify-dialog p{font-size:16px;color:#999;text-align:center;margin-top:35px}
.email-verify-dialog .btn-submit{margin-top:27px}
.phone-verify-dialog{min-height:340px;margin-top:-170px;padding-bottom:30px}
.phone-verify-dialog .logo{margin-top:30px}
.phone-verify-dialog .input-phone-box{margin-top:38px}
.phone-verify-dialog .input-new-password-box,.phone-verify-dialog .input-verification-code-box{margin-top:11px}
.phone-verify-dialog .input-verification-code{width:194px;padding-right:120px}
.phone-verify-dialog .verification-code{position:absolute;right:0;top:0}
.phone-verify-dialog .btn-get-verification-code{width:auto;height:43px;padding:0 14px;border:none;color:#999;font-size:14px}
.phone-verify-dialog .to-login{display:block;margin-top:25px;text-align:center;color:#999;font-size:14px;line-height:24px}
.phone-verify-dialog .to-login:hover{color:#129aee}
.header-channel-nav .content,.header-mini .content,.header-search .content,.header-top .content{display:block;width:1080px;margin:0 auto}
.header-channel-nav .user-info-box,.header-mini .user-info-box,.header-search .user-info-box,.header-top .user-info-box{height:27px;margin-left:17px;position:relative;font-size:0}
.header-channel-nav .user-info-box .user-info,.header-mini .user-info-box .user-info,.header-search .user-info-box .user-info,.header-top .user-info-box .user-info{display:inline-block;padding:0}
.header-channel-nav .user-info-box .user-info>*,.header-mini .user-info-box .user-info>*,.header-search .user-info-box .user-info>*,.header-top .user-info-box .user-info>*{display:inline-block;vertical-align:middle}
.header-channel-nav .user-info-box .profile,.header-mini .user-info-box .profile,.header-search .user-info-box .profile,.header-top .user-info-box .profile{width:38px;height:38px;border-radius:100%;border:1px solid #f2f2f2}
.header-channel-nav .user-info-box .nickname,.header-mini .user-info-box .nickname,.header-search .user-info-box .nickname,.header-top .user-info-box .nickname{color:#222;padding:0 0 0 7px;min-width:47px;height:30px;line-height:30px;overflow:hidden;margin-right:7px;white-space:nowrap}
.header-channel-nav .user-info-box .icon-down,.header-mini .user-info-box .icon-down,.header-search .user-info-box .icon-down,.header-top .user-info-box .icon-down{padding:0;color:#222;font-size:12px}
.header-channel-nav .user-info-box .user-info-menu,.header-mini .user-info-box .user-info-menu,.header-search .user-info-box .user-info-menu,.header-top .user-info-box .user-info-menu{width:100px;position:absolute;background:#fbfbfb;z-index:10;padding:8px 0;left:50%;margin-left:-50px;top:45px;display:none}
.header-channel-nav .user-info-box .user-info-menu a,.header-mini .user-info-box .user-info-menu a,.header-search .user-info-box .user-info-menu a,.header-top .user-info-box .user-info-menu a{display:block;color:#222;font-size:14px;line-height:31px;text-align:center}
.header-channel-nav .user-info-box .user-info-menu a:hover,.header-mini .user-info-box .user-info-menu a:hover,.header-search .user-info-box .user-info-menu a:hover,.header-top .user-info-box .user-info-menu a:hover{color:#129aee}
.header-channel-nav .user-info-box{margin-left:0}
.header-channel-nav .user-info-box .profile{width:27px;height:27px}
.header-top{width:100%;height:32px;border-bottom:1px solid #eaeaea;background-color:#f9f9f9;position:absolute;top:0;left:0}
.header-top .header-links{position:relative;right:-10px}
.header-top .header-links>*{color:#999;font-size:13px;padding:0 10px;line-height:32px;display:inline-block;vertical-align:middle}
.header-top .more{padding-right:0}
.header-top .weather span{padding:0 6px}
.header-top .split-icon{padding:0;height:14px}
.header-top a:hover{opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
.header-search{width:100%;position:absolute;left:0;top:68px;padding-bottom:18px;border-bottom:1px solid #ededed;}
.header-search .content>*,.header-search .header-links>*{display:inline-block;vertical-align:middle}
.header-search .header-links>*{font-size:15px}
.header-search .logo{font-size:140px;line-height:36px;margin-right:17px;padding:0;max-height:50px;overflow:hidden}
.header-search .btn.btn-search{font-size:16px}
.header-search .suggestion-search-box{width:444px;height:36px;position:relative;margin-right:9px}
.header-search .input-search{width:422px;height:34px;padding:0 10px;border:1px solid #cbcbcb}
.header-search .input-search:focus{border-color:#129aee}
.header-search .btn-search{width:90px;height:36px;background-color:#129aee;color:#fff}
.header-search a,.header-search span{color:#129aee;line-height:36px;padding:0 17px;vertical-align:middle}
.header-search .split-icon{padding:0;height:14px}
.header-search .user-info-box{margin-top:-7px}
.header-search .btn-login,.header-search .btn-register{margin:0 17px;line-height:25px}
.header-search .btn-login:hover{color:#fff;background-color:#129aee}
.header-search .btn-register:hover{color:#129aee;background-color:#fff;border:1px solid #129aee}
.link-download:hover,.link-ydhao:hover{opacity:.8;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80)}
.header-links .btn-login:hover{color:#fff;background-color:#129aee}
.channel-nav{height:52px;overflow:hidden}
.channel-nav .content{position:relative;bottom:-1px}
.channel-nav .list{height:52px;overflow:hidden}
.channel-nav .item{color:#222;font-size:16px;padding:0 25px;line-height:50px;height:50px;border-bottom:2px solid transparent;display:inline-block;vertical-align:middle;overflow:hidden;transition:all .3s}
.channel-nav .item.active{color:#129aee;border-bottom-color:#129aee}
.channel-nav .item:hover{color:#129aee}
.channel-nav .down{width:16px;height:50px;padding-right:25px;color:#999;float:right;cursor:pointer;line-height:52px}
.channel-nav .down:hover{color:#129aee}
.channel-nav.expanded .down:before{content:"\E656"}
.header-channel-nav{width:100%;position:absolute;left:0;top:132px;border-bottom:1px solid #e0e0e0}
.header-channel-nav .content{position:relative;bottom:-1px}
.header-channel-nav .header-links,.header-channel-nav .logo{width:0;overflow:hidden;white-space:nowrap;margin-top:10px}
.header-channel-nav .logo{height:26px;margin-top:13px;font-size:99px;line-height:26px;display:inline-block}
.header-channel-nav .header-links{line-height:32px;padding-right:0;position:relative;transition:width .3s}
.header-channel-nav .header-links>*{display:inline-block;vertical-align:middle}
.header-channel-nav .header-links .link-ydhao{margin-left:50px;margin-right:38px;color:#129aee}
.header-channel-nav .header-links .suggestion-search-box .input-search{width:0;height:32px;font-size:14px;border:0 solid #e0e0e0}
.header-channel-nav .header-links .suggestion-search-box .input-search:focus{border-color:#129aee}
.header-channel-nav .input-expanded .suggestion-search-box .input-search{width:211px;padding:0 15px;padding-right:35px;border-width:1px}
.header-channel-nav .icon-search{font-size:17px;line-height:19px;position:absolute;left:0;top:7px;z-index:1}
.header-channel-nav .icon-search:hover{color:#129aee}
.header-channel-nav.header-mini{width:100%;background:#fff;border-bottom:1px solid #e0e0e0;display:block;position:fixed;top:0;left:0;z-index:100;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);font-family:Microsoft YaHei}
.header-channel-nav.header-mini .content{bottom:0}
.header-channel-nav.header-mini .logo{width:99px;margin-right:17px}
.header-channel-nav.header-mini .header-links{width:192px;margin-left:15px;overflow:visible}
.header-channel-nav.header-mini .header-links.input-expanded{width:478px}
.header-channel-nav.header-mini .header-links.input-expanded .btn-search{left:235px}
.header-channel-nav.header-mini.login .header-links{width:230px}
.header-channel-nav.header-mini.login .header-links.input-expanded{width:491px}
.header-channel-nav.header-mini .channel-nav .item{padding:0 16px}
.header-channel-nav.header-mini .channel-nav .item.active{border-bottom:none}
.header-mini .input-search::-webkit-input-placeholder{color:#888;font-size:14px}
.header-mini .input-search:-moz-placeholder,.header-mini .input-search::-moz-placeholder{color:#888;font-size:14px}
.header-mini .input-search:-ms-input-placeholder{color:#888;font-size:14px}
:root .header-search .logo{line-height:38px\9}
:root .header-channel-nav .logo{line-height:34px\9}
.suggestion-search-box{position:relative}
.suggestion{width:100%;position:absolute;left:0;top:36px;z-index:2;background:#fdfdfd;display:none}
.suggestion.active{display:block}
.suggestion .item-content div,.suggestion span{font-size:14px;padding:0;color:#222}
.suggestion .item{display:block;line-height:0;padding:0 20px}
.suggestion .item.active,.suggestion .item:hover{background-color:#ececec}
.suggestion .item-content{overflow:hidden}
.suggestion .channel-name,.suggestion .hot-search-word{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.suggestion .inner-block-box{padding:12px 0;border:1px solid #e0e0e0;border-top:none}
.header-mini .suggestion{top:34px}
.suggestion.hot-search-suggestion .index{width:8px;height:32px;margin-right:20px;background:no-repeat 50%;font-size:13px;line-height:40px}
.suggestion.hot-search-suggestion .hot-search-word{line-height:37px}
.suggestion.search-result-suggestion .inner-block-box{padding-top:5px}
.suggestion.search-result-suggestion .item{padding:5px 20px}
.suggestion.search-result-suggestion .channel-img{width:31px;height:31px;margin-right:15px;background:#dfdfdf;position:relative}
.suggestion.search-result-suggestion .channel-img img{border-radius:2px}
.suggestion.search-result-suggestion .channel-bookcount,.suggestion.search-result-suggestion .item-content span{line-height:31px;height:31px;display:inline-block;vertical-align:middle}
.suggestion.search-result-suggestion .channel-name{overflow:hidden;max-width:100%}
.suggestion.search-result-suggestion .item-media .channel-name{max-width:80%}
.suggestion.search-result-suggestion .label-imedia{margin-left:10px;font-size:40px;color:#129aee}
.suggestion.search-result-suggestion .channel-bookcount{font-size:10px;color:#999}
.header-mini .suggestion.search-result-suggestion .item-media .channel-name{max-width:60px}
.channel-edit-panel{position:absolute;left:0;top:55px;background:#fbfbfb;padding:8px 0;display:none;z-index:100;max-height:230px;overflow-y:auto}
.channel-edit-panel .item,.copy-drag-item{float:left;padding-left:9px;padding-top:7px;margin-left:3px;margin-bottom:12px;position:relative;white-space:nowrap;transition:width .3s,padding .3s,margin .3s}
.channel-edit-panel .item button,.copy-drag-item button{height:38px;padding:0 13px;font-size:16px;color:#222;background:transparent;transition:none}
.channel-edit-panel .item.active button,.channel-edit-panel .item button:hover,.copy-drag-item button:hover{color:#129aee}
.channel-edit-panel .complete,.channel-edit-panel .delete{display:none}
.channel-edit-panel .complete button,.channel-edit-panel .edit button,.channel-edit-panel .more button{color:#129aee}
.channel-edit-panel.active{display:block}
.channel-edit-panel.editing .item.cant-edit button,.channel-edit-panel.editing .item.complete button,.channel-edit-panel.editing .item.edit button,.channel-edit-panel.editing .item.more button{background:transparent}
.channel-edit-panel.editing .item button,.copy-drag-item button{background:#fff;cursor:move}
.channel-edit-panel.editing .item .delete,.copy-drag-item .delete{width:18px;height:18px;color:#e3e3e3;font-size:15px;display:block;position:absolute;left:2px;top:-1px;cursor:pointer}
.channel-edit-panel.editing .item .delete:hover,.copy-drag-item .delete:hover{color:#f18787}
.channel-edit-panel.editing .item.placeholder button,.copy-drag-item.placeholder button{color:#999}
.channel-edit-panel.editing .item.complete button,.channel-edit-panel.editing .item.edit button,.channel-edit-panel.editing .item.more button,.copy-drag-item.complete button,.copy-drag-item.edit button,.copy-drag-item.more button{cursor:pointer}
.channel-edit-panel.editing .item.cant-edit .delete{display:none}
.channel-edit-panel.editing .item.cant-edit button{cursor:text}
.channel-edit-panel.editing .item.cant-edit button:hover{color:#222}
.channel-edit-panel.editing .edit{display:none}
.channel-edit-panel.editing .complete{display:block}
.copy-drag-item{z-index:100}
.copy-drag-item .delete{display:none}
.copy-drag-item button{background:hsla(0,0%,100%,.4)}
.widget-tool{position:fixed;left:50%;bottom:30px;margin-left:655px;overflow:visible}
.widget-tool .item{width:44px;height:44px;background:no-repeat 50%;margin-bottom:7px;font-size:44px;line-height:44px}
.widget-tool>.icon{font-size:19px;color:#fff;line-height:44px;text-align:center;background:#e4e4e4;border-radius:100%}
.widget-tool>.icon:hover{background:#7bbcff}
.widget-tool .item.refresh{width:42px;padding-left:2px;cursor:pointer}
.widget-tool .item.back-up{font-size:17px;cursor:pointer;line-height:46px;padding-left:1px;width:43px}
.widget-tool .qrcode-download{display:inline-block;width:103px;height:138px;position:absolute;right:53px;top:5px;background:#fff;border:1px solid #e0e0e0;text-align:center;display:none}
.widget-tool .qrcode-download .qrcode{width:84px;height:84px;font-size:84px;line-height:84px;color:#333;margin:8px auto 5px;display:block}
.widget-tool .qrcode-download a,.widget-tool .qrcode-download p{font-size:12px;color:#999;line-height:14px}
.widget-tool .qrcode-download a{color:#129aee}
@media screen and (max-width:1366px){.widget-tool{margin-left:553px}
}
.share{position:relative;padding-right:20px;cursor:pointer;height:30px}
.share .icon-down{position:absolute;font-size:12px;line-height:17px;right:-20px;top:0}
.share:hover{color:#129aee!important}
.share:hover .icon-down{color:#129aee}
.share-wrapper{display:none;position:absolute;right:-25px;top:0;height:70px}
.share-list{position:relative;top:22px;width:130px;height:40px;text-align:center;background:#fff;border:1px solid #f1f1f1;border-radius:10px;padding-left:15px;z-index:2}
.share-list .share-icon{display:inline-block;font-size:25px;margin-right:15px;line-height:40px}
.share-list .share-icon.icon-weibo{color:#fb673b}
.share-list .share-icon.icon-qzone{color:#fdbc36}
.share-list .share-icon.icon-weixin{color:#5ecb48}
.qrcode-wrapper{display:none;padding:5px;position:absolute;top:73px;right:-40px;z-index:5;background:#fff;border:1px solid #ececec;border-radius:2px}
.qrcode-wrapper .icon-up{top:-10px;border-top-right-radius:40px;color:#fff}
.qrcode-wrapper .icon-arrow-up,.qrcode-wrapper .icon-up{position:absolute;width:10px;right:20px;height:10px;font-size:12px}
.qrcode-wrapper .icon-arrow-up{top:-11px;color:#ececec}
.channel-top .share-wrapper{top:3px}
.channel-top .icon-arrow-up,.channel-top .icon-up{right:40px}
.channel-top .icon-down{top:3px;right:-15px}
.channel-top .share-list{top:26px}
.channel-top .share-wrapper{right:-35px}
.channel-top .qrcode-wrapper{right:-45px;top:85px}
.channel-top .qrcode-wrapper .icon-up{top:-22px}
.channel-top .qrcode-wrapper .icon-arrow-up{top:-23px}
.widget-hot-channel{width:100%;background:#fbfbfb;padding:25px 0 0;margin-bottom:20px;color:#1d1d1d;font-size:14px}
.widget-hot-channel h5{font-size:18px;line-height:18px;font-weight:700;border-left:5px solid #129aee;padding-left:25px}
.related-channels-list{padding:10px}
.related-channels-list li{width:78px;display:inline-block;margin:15px 14px 15px 15px;text-align:center}
.related-channels-list li a{font-size:16px;display:inline-block}
.related-channels-list li img{width:67px;height:67px}
.related-channels-list li p{margin:8px 0 3px;width:78px;height:24px;overflow:hidden;display:block;white-space:nowrap;text-overflow:ellipsis;text-align:center}
.related-channels-list li .related-channels-subscribe{width:67px;height:29px;line-height:29px;text-align:center;font-size:14px;color:#129aee;border:1px solid #ececec;border-radius:15px;float:left;margin-left:5px}
.related-channels-list li .related-channels-subscribe:hover{border-color:#129aee;background:#129aee;color:#fff}
.related-channels-list li .subscribe{display:block}
.related-channels-list li .unsubscribe{display:none;color:#999}
.related-channels-list li .unsubscribe:hover{border-color:#ececec;color:#999;background:transparent}
.related-channels-list .subscribed .subscribe{display:none}
.related-channels-list .subscribed .unsubscribe{display:block}
body,html{margin:0;background-color:#fff;padding:0}
a,body,button,html,input,select,textarea{color:#3f484f;font:14px/24px Microsoft YaHei,Arial,\\5B8B\4F53,Arial Narrow;-webkit-font-smoothing:antialiased}
img,input{vertical-align:middle;padding:0}
a,fieldset,img{border:none}
a,button{cursor:pointer;transition:all .3s}
a,a:hover{text-decoration:none;outline:none}
button{box-sizing:content-box;padding:0;border:none;background-color:transparent}
button:focus,input:focus,textarea:focus{outline:none}
li,p,ul{margin:0}
li,ul{list-style:none;padding:0}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:400}
hr{margin:0}
::-webkit-input-placeholder{color:#888;font-size:16px}
:-moz-placeholder,::-moz-placeholder{color:#888;font-size:16px}
:-ms-input-placeholder{color:#888;font-size:16px}
input:-webkit-autofill{background-color:transparent}
.iconfont{color:#999}
.icon-arrow-down,.icon-arrow-up,.icon-back-up,.icon-down,.icon-qrcode,.icon-refresh,.icon-search{font-weight:700}
.icon-1{color:#d70000}
.icon-2{color:#ff6000}
.icon-3{color:#ff9a22}
.line-clamp-2{-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}
.float-left{float:left}
.float-right{float:right}
.anim{transition:all .2s}
.split-icon{width:0;height:0;border-left:1px solid #e0e0e0}
.logo{width:140px;height:36px;font-size:140px;line-height:36px;color:#129aee}
.btn-login{width:60px;height:25px;color:#129aee;background-color:transparent;border:1px solid #129aee;border-radius:2px}
.btn-register{width:60px;height:25px;color:#c0c0c0;background-color:transparent;border:1px solid #c0c0c0;border-radius:2px}
.mask{width:100%;height:100%;z-index:200;left:0;top:0;opacity:.3;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);display:none}
#toast,.mask{position:fixed;background:#000}
#toast{top:50%;left:50%;height:50px;line-height:50px;margin-top:-25px;padding:0 20px;font-size:16px;color:#fff;border-radius:5px;text-align:center;opacity:.8;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);z-index:202}
.hidden{display:none}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
span.icon-plus{font-size:12px;margin-left:-10px;line-height:22px;color:#0098f1!important}
span.icon-plus.icon-plus-2{color:#ff6c00!important}
span.icon-plus.icon-plus-3{color:#ff271e!important}
span.icon-plus.icon-plus-4{color:#fb0!important}
.icon-plus-round{position:absolute;bottom:-1px;right:-4px;width:32px;height:34px;z-index:1;}
.icon-plus-roundmini{position:absolute;bottom:-1px;right:-7px;width:20px;height:21px;z-index:1;}
body{overflow:scroll}
.widget.widget-weather{margin-bottom:0}
.main{width:1080px;margin:0 auto;margin-top:199px;position:relative}
.slide{margin-bottom:13px}
.aside{width:350px;float:right;text-align: center;}
.channel-news{width:670px}
.channel-top{width:670px;height:40px;display:none;background-color:#fbfbfb}
.channel-top .channel-news-nav{padding-left:24px}
.channel-top .channel-news-nav .tab{display:inline-block;font-size:16px;line-height:40px;padding:0 20px;position:relative;cursor:pointer}
.channel-top .channel-news-nav .tab.tab-0{padding-left:0}
.channel-top .channel-news-nav .tab.tab-0:before{display:none}
.channel-top .channel-news-nav .tab:before{content:"";width:1px;height:15px;position:absolute;left:0;top:13px;background:#e0e0e0}
.channel-top .channel-news-nav .tab.active{color:#129aee}
.channel-top .share{color:#999;line-height:40px;height:40px;margin-right:16px}
.channel-top .share .share-list{top:30px;right:3px}
.channel-top .share .icon-down{right:0;top:11px}
.aside .widget{margin-bottom:15px;padding-top:25px;background:#fbfbfb}
.widget-hot-video h4{padding-bottom:10px}
.widget h4{color:#222;font-size:18px;line-height:1;font-weight:700;position:relative;padding-left:23px}
.widget h4:before{content:"";width:5px;height:18px;background:#129aee;position:absolute;left:0;top:1px}
.related-channels-list li{margin-right:9px}
.doc{display:block;position:relative;overflow:hidden;border-bottom:1px solid #f2f2f2}
.doc.no-bottom-border{border-bottom:none}
.doc-image,.doc-image-small{background:#f6f6f6;background-size:100% 100%}
.doc-content{font-size:0;overflow:hidden}
.doc-title{color:#222;font-size:20px;line-height:1.34;max-height:52px;transition:color .5s}
.doc-info,.doc-title{overflow:hidden}
.doc-info>*{float:left;font-size:14px;line-height:20px;margin-right:11px;display:inline-block;white-space:nowrap;color:#777}
.doc-info>img{height:20px}
.source-profile{height:20px;border-radius:100%}
.doc:visited .doc-info>*,.doc:visited .doc-summary,.doc:visited .doc-title{color:#999}
.doc-info .doc-remove{font-size:12px;float:right;color:transparent;margin-right:0;padding-right:5px}
.doc-info .doc-remove .icon-close-half{font-size:18px;vertical-align:-3px;color:#999;margin-left:3px}
.doc-info .doc-remove:hover{color:#fff;background:#7bbcff;padding-left:10px;border-radius:10px}
.doc-info .doc-remove:hover .icon-close-half{color:#fff}
.doc-image-box{overflow:hidden;position:relative}
.doc-image-box img{width:100%;height:100%;transition:all .7s;-webkit-transform-origin:center;transform-origin:center}
.doc-image-box img:hover{-webkit-transform:scale(1.05);transform:scale(1.05)}
.doc-image-box .iconfont{position:absolute;left:67px;top:43px;color:#fff;font-size:30px}
.doc-image-box .iconfont.audio-icon{top:40px;border:1px solid #fff;width:30px;height:30px;line-height:30px;border-radius:100%;text-align:center;font-size:16px}
.doc-image-box .video-time{position:absolute;right:5px;bottom:5px;color:#fff;font-size:12px;border-radius:10px;padding:0 5px 0 15px;background:rgba(0,0,0,.5);background-size:5px;line-height:18px}
.doc-picture img{width:100%}
.doc-picture .doc-info{padding:16px 0}
.doc-joke .doc-title{margin-top:18px}
.doc-joke .doc-summary{height:70px;margin-top:10px;font-size:16px;line-height:1.5;overflow:hidden;color:#444}
.doc-joke .doc-info{margin-bottom:18px}
.style-small-image .doc-image-small-wrapper{float:left;margin-right:20px;padding:9px 0}
.style-small-image .doc-image-box{width:161px;height:108px}
.style-small-image .doc-content{height:126px;overflow:hidden}
.style-small-image .doc-title{margin-top:10px}
.style-small-image .doc-info{position:absolute;bottom:10px}
.style-small-image.style-content-middle .doc-content:after{content:"";width:0;height:100%;display:inline-block;vertical-align:middle}
.style-small-image.style-content-middle .doc-content-inline{width:100%;display:inline-block;vertical-align:middle}
.style-small-image.style-content-middle .doc-title{margin-top:0}
.style-small-image.style-content-middle .doc-info{position:static;margin-top:10px}
.style-small-image-right .doc-image-small-wrapper{float:right}
.style-multi-image .doc-title{margin:10px 0;line-height:1.5;max-height:58px}
.style-multi-image .doc-image-multi-wrapper{overflow:hidden}
.style-multi-image .doc-image-multi-wrapper .doc-image-box{width:161px;height:108px;display:inline-block;margin-left:8px;float:left}
.style-multi-image .doc-image-multi-wrapper .doc-image-box.box-0{margin-left:0}
.style-multi-image .doc-info{margin:10px 0}
.style-no-image{padding:21px 0}
.style-no-image .doc-info{margin-top:10px}
.doc:hover{background-color:#fafafa}
.doc-title:hover{color:#129aee}
.channel-news{overflow:hidden}
.channel-news .doc{transition:height .3s,padding .3s,margin .3s}
.channel-news .split-refresh-btn{height:35px;color:#439bd7;font-size:14px;line-height:35px;text-align:center;border:1px solid #74caff;border-radius:4px;background:#eff6fc;cursor:pointer;transition:all .3s}
.channel-news .split-refresh-btn:hover{opacity:.8;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80)}
.channel-news .first-loading-tip{text-align:center;font-size:14px;color:#999;padding-top:40px}
.channel-news .first-loading-tip img{width:300px}
.channel-news .first-loading-tip p{margin-top:20px}
.channel-news .first-loading-tip.no-news,.channel-news .first-loading-tip a{color:#68a4f0}
.channel-news .loading-tip,.channel-news .refresh-tip{font-size:14px;line-height:30px;height:30px;overflow:hidden;text-align:center;position:relative}
.channel-news .loading-failed{cursor:pointer}
.channel-news .refresh-result{color:#fff;position:absolute;width:100%;height:100%;left:0;top:0}
.channel-news .refresh-bg{width:0;margin:0 auto;height:100%;background:#129aee;opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
.channel-news .loading-tip .icon,.channel-news .refresh-tip .icon{width:10px;height:10px;margin:0 3px;background-color:#3f484f;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.channel-news .loading-tip .icon.icon0,.channel-news .refresh-tip .icon.icon0{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.channel-news .loading-tip .icon.icon1,.channel-news .refresh-tip .icon.icon1{-webkit-animation-delay:-.16s;animation-delay:-.16s}
@-webkit-keyframes bouncedelay{0%,80%,to{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes bouncedelay{0%,80%,to{-webkit-transform:scale(0);transform:scale(0)}
40%{-webkit-transform:scale(1);transform:scale(1)}
}
.widget-weather{margin:0;float:left}
.widget-weather .widget-weather-container{color:#999;line-height:32px}
.widget-weather .widget-weather-container span{margin-right:9px}
.widget-weather .widget-weather-detail{padding:9px 11px;padding-top:4px;width:130px;position:absolute;z-index:200;text-align:left;background-color:#f9f9f9;height:69px;margin-top:5px;line-height:1.5}
.widget-weather .widget-weather-detail .weather-city{font-size:12px;color:#69a8f7;cursor:pointer;display:inline-block;position:relative}
.widget-weather .widget-weather-detail .weather-city .iconfont{font-size:11px;color:#69a8f7;margin-right:3px}
.widget-weather .widget-weather-detail .weather-temp{font-size:14px;color:#686868;margin-top:10px;padding-left:7px}
.widget-weather .widget-weather-detail .weather-icon{position:absolute;right:17px;top:15px;width:49px}
.widget-weather .widget-weather-detail .weather-icon img{width:100%}
.widget-weather .widget-weather-detail .widget-weather-province-city{font-size:12px;display:none}
.widget-weather .widget-weather-detail .widget-weather-province-city .current-city,.widget-weather .widget-weather-detail .widget-weather-province-city .current-province{width:53px;padding:5px;cursor:pointer;display:inline-block;}
.widget-weather .widget-weather-detail .widget-weather-province-city .current-city .inner,.widget-weather .widget-weather-detail .widget-weather-province-city .current-province .inner{width:37px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block}
.widget-weather .widget-weather-detail .widget-weather-province-city .btn-wrapper{text-align:right}
.widget-weather .widget-weather-detail .widget-weather-province-city .btn-wrapper button{font-size:12px}
.widget-weather .widget-weather-detail .widget-weather-province-city .btn-wrapper .confirm{margin-right:10px;color:#129aee}
.widget-weather .widget-weather-detail .widget-weather-province-city .provinces{left:13px}
.widget-weather .widget-weather-detail .widget-weather-province-city .cities{right:12px}
.widget-weather .widget-weather-detail .widget-weather-province-city .cities,.widget-weather .widget-weather-detail .widget-weather-province-city .provinces{width:150px;position:absolute;top:55px;border:1px solid #cbcbcb;background:#fff}
.widget-weather .widget-weather-detail .widget-weather-province-city .cities span,.widget-weather .widget-weather-detail .widget-weather-province-city .provinces span{text-align:center;line-height:25px;float:left;width:50px;cursor:pointer}
.widget-weather .widget-weather-detail .widget-weather-province-city .cities span:hover,.widget-weather .widget-weather-detail .widget-weather-province-city .provinces span:hover{background:#e4e4e4}
.media-channel-info{background:#fbfbfb;overflow:hidden;text-align:center}
.media-channel-info .channel-image-box{width:74px;height:74px;display:block;margin:0 auto;margin-top:29px;position:relative}
.media-channel-info .channel-image-box img{width:100%;border-radius:100%;border:1px solid #f2f2f2}
.media-channel-info .channel-name{font-size:18px;color:#222;text-align:center;margin-top:19px;font-weight:700}
.media-channel-info .channel-summary{font-size:13px;color:#999;line-height:22px;margin:8px auto 0;text-align:center;width:190px}
.media-channel-info .subscribe,.media-channel-info .unsubscribe{height:37px;color:#fff;font-size:16px;line-height:36px;background:#0098f1;border-radius:20px;text-align:center;margin:19px auto 26px;cursor:pointer;display:inline-block}
.media-channel-info .subscribe{padding:0 17px 0 38px;position:relative}
.media-channel-info .subscribe i{font-style:normal;font-size:26px;position:absolute;left:14px;top:-2px}
.media-channel-info .unsubscribe{width:87px;height:35px;line-height:34px;background:none;color:#999;border:1px solid #dcdcdc;display:none}
.media-channel-info.subscribed .subscribe{display:none}
.media-channel-info.subscribed .unsubscribe{display:block}
.hot-media-channel{background:#fbfbfb;overflow:hidden;padding-bottom:22px}
.hot-media-channel .channel-list .item{height:55px;padding:0 23px;margin-top:28px;overflow:hidden}
.hot-media-channel .channel-list .item a.channel-image-a{position:relative;float:left}
.hot-media-channel .channel-image{width:55px;height:55px;border-radius:100%;float:left;margin-right:12px}
.hot-media-channel button{width:69px;height:31px;border:1px solid #dcdcdc;color:#999;border-radius:16px;float:right;margin:10px 0 0 17px;color:#129aee}
.hot-media-channel button:hover{border-color:#129aee;background:#129aee;color:#fff}
.hot-media-channel .unsubscribe,.hot-media-channel .unsubscribe:hover{color:#999;background:transparent;border-color:#dcdcdc}
.hot-media-channel .channel-info{display:block;overflow:hidden;margin-top:4px}
.hot-media-channel .channel-name{font-size:16px;color:#222;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.hot-media-channel .channel-summary{font-size:13px;color:#999;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.hot-media-channel .subscribed .subscribe,.hot-media-channel .unsubscribe{display:none}
.hot-media-channel .subscribed .unsubscribe{display:block}
.aside .widget-normal-channel-info.widget{padding-top:0}
.normal-channel-info{height:200px;padding:19px 30px 19px 21px;background:#fbfbfb;overflow:hidden}
.normal-channel-info .channel-image{width:100px;height:100px;float:left;margin-left:110px;}
.normal-channel-info button{width:65px;height:27px;border:1px solid #dcdcdc;color:#129aee;border-radius:16px;float:right;margin-left:17px;margin-top:22px}
.normal-channel-info button:hover{border-color:#129aee;background:#129aee;color:#fff}
.normal-channel-info .unsubscribe{display:none}
.normal-channel-info .unsubscribe,.normal-channel-info .unsubscribe:hover{color:#999;background:transparent;border-color:#dcdcdc}
.normal-channel-info .channel-info{overflow:hidden}
.normal-channel-info .channel-name{font-size:15px;line-height:1;margin-top:10px;color:#222;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.normal-channel-info .channel-bookcount{font-size:13px;color:#999;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:1;margin-top:19px}
.normal-channel-info.subscribed .subscribe{display:none}
.normal-channel-info.subscribed .unsubscribe{display:block}
.widget.widget-hot-video .doc.last{border-bottom:none}
.widget.widget-hot-video .doc-image-small-wrapper{padding:14px 0}
.widget.widget-hot-video .doc-image-box{width:110px;height:75px;position:relative}
.widget.widget-hot-video .video-time{position:absolute;right:5px;bottom:5px;color:#fff;font-size:12px;border-radius:10px;padding:0 5px 0 15px;background:rgba(0,0,0,.5);background-size:5px;line-height:18px}
.widget.widget-hot-video .doc-content{height:102px}
.widget.widget-hot-video .doc-title{font-size:16px;margin-top:16px;max-height:42px;overflow:hidden;-webkit-line-clamp:2;display:-webkit-box;-webkit-box-orient:vertical;text-overflow:ellipsis}
.widget.widget-hot-video .doc-info div,.widget.widget-hot-video .doc-info span{font-size:12px}
.channel-main .widget-hot-video .news-list{width:310px;margin:0 20px;padding-bottom:10px}
@media screen and (max-width:1500px){html .header-top{height:30px}
html .header-top .header-links>*{line-height:30px;font-size:12px}
html .header-top .split-icon{padding:0}
html .header-search{top:62px}
html .header-search .logo{width:140px;font-size:140px}
html .header-search .suggestion-search-box{width:422px;margin-right:17px}
html .header-search .input-search{width:400px}
html .header-channel-nav{top:108px}
html .page-channel .main,html .page-index .main{margin-top:180px}
html .page-channel .slide,html .page-index .slide{width:664px;height:284px}
html .page-channel .channel-top,html .page-channel .main .channel-news,html .page-index .channel-top,html .page-index .main .channel-news{width:664px}
html .doc-title{font-size:18px}
html .doc-info>*{font-size:12px}
html .style-no-image{padding:25px 0}
html .style-no-image .doc-info{margin-top:14px}
html .style-small-image .doc-image-small-wrapper{margin-right:27px;padding:12px 0}
html .style-small-image .doc-image-box{width:159px;height:100px}
html .style-small-image .doc-content{height:124px}
html .style-small-image.style-content-middle .doc-info{margin-top:15px}
html .style-multi-image .doc-image-multi-wrapper .doc-image-box{width:159px;height:100px;margin-left:9px}
html .style-multi-image .doc-info{margin:13px 0}
html .widget{margin-bottom:5px}
html .widget.widget-imedia-article{margin-top:-2px}
html .widget.widget-imedia-article .content{padding-top:0}
html .widget.widget-imedia-article .doc.item-3{display:none}
html .widget.widget-imedia-article .doc.item-2 .doc-content{border-bottom:none}
html .widget.widget-imedia-article .doc-image-small-wrapper{padding:16px 0}
html .widget.widget-imedia-article .doc-content{height:93px}
html .widget.widget-imedia-article .doc-content .doc-info{margin-top:12px}
html .widget.widget-imedia-article .doc-title{font-size:14px;line-height:24px;max-height:48px}
html .widget-hot-article .index{height:49px;line-height:49px}
html .widget-hot-article .doc-title{font-size:14px;height:49px;line-height:48px}
html .widget.widget-hot-video .doc-title{font-size:14px;line-height:24px;max-height:48px}
html .widget.widget-hot-video .video-time{font-size:10px}
html .widget.widget-media-list .doc{height:53px;line-height:54px;font-size:14px}
html .widget.widget-media-list .media-list-name{width:84px}
html .widget.widget-media-list .doc-title{font-size:14px}
html .widget-about-yidian .links{margin-top:27px}
html .widget-about-yidian .item{margin:0 27px}
html .widget-about-yidian .item .iconfont{font-size:22px;width:46px;height:46px;line-height:46px}
html .widget-about-yidian .qrcode-download{width:337px;margin-top:23px;height:116px}
html .widget-about-yidian .qrcode-download .qrcode{margin-left:17px;margin-right:54px;font-size:85px;line-height:85px}
html .widget-about-yidian .qrcode-download .logo{width:118px;height:27px;font-size:118px;margin-top:25px;line-height:26px}
html .widget-about-yidian .qrcode-download a{margin-top:23px}
html .widget-about-yidian .official-info{margin-top:10px;padding:10px 17px;padding-right:0}
html .widget-about-yidian .official-info .icon-12377,html .widget-about-yidian .official-info .icon-jubao{width:306px;margin-bottom:7px}
html .widget-about-yidian .official-info>*{font-size:14px}
}
html .widget-about-yidian .qrcode-download .logo{line-height:32px\9\0}
.user-info{float:left;width:350px;text-align:center;height:32px;line-height:32px;}
.register-ok-dialog{width:300px;background:#fff;position:fixed;left:50%;top:200px;margin-left:-217px;z-index:201;padding:50px 52px;}
.no-more-episodes{display:none;width:664px;text-align:center;line-height:40px;font-size:14px;color:#999}
.footer-mini-wrapper{width:100%;display:inline-block;margin:60px 0 20px}
.footer-mini-wrapper .footer-mini{width:1080px;margin:0 auto;text-align:center}
.footer-mini-wrapper .footer-mini a,.footer-mini-wrapper .footer-mini span{display:inline-block;color:#999;font-size:13px;margin-right:10px}
.footer-mini-wrapper .footer-mini .icon-jgw{width:20px;height:29px;margin-right:5px;background:url(/Episode/images/jgw.png) no-repeat 50%;vertical-align:middle}